body {
  background-color: rgb(108, 114, 110);
}

.maindiv{

  margin-top: 10%;

}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(255, 174, 0);
  border-bottom: 16px solid rgb(255, 174, 0);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.picdiv{
  background-image: url("background.jpg");
  padding-bottom: 20%;
  background-repeat: no-repeat;
  background-size: 650px;
  width: 650px;
  background-position: left;
  
  
  
}

.picdivtxt {

  margin-top: 35%;
  color: white;
  background-color: rgba(53, 55, 54, 0.8);

  background-blend-mode: darken;


}

.pcdivtxtmain {
  text-align: center;
}

.formdivpic{
  width: 250px;
  margin-left: 30%;

}

.form{

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 4%;
  
 
}

.formdivbackground{
 
  background-color: rgb(49, 49, 49);
  width: 50%;
  border: 10px solid rgb(255, 174, 0);
  border-radius: 10px;


}

.formdivtext {
  padding-top: 11%;
}


.logbtn{
  background-color: rgb(255, 174, 0);
  margin-top: 2%;
  margin-left: 40%;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
  color: black;
}